body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  background-color: rgba(119, 232, 49, 0.12) !important;
}

.footer {
  position: relative;
  top: 0;
  right: 0;
  color: rgb(13, 12, 12);
  font-weight: bold;
}

.footer a {
  cursor: pointer;
  color: rgb(110, 110, 6);
  text-decoration: none;
}

.footer a:hover {
  cursor: pointer;
  color: greenyellow;
}

.logo-img {
  cursor: pointer;
}
