body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  background-color: #f2f3f3 !important;
}

.footer {
  position: relative;
  top: 0;
  right: 0;
  color: rgb(13, 12, 12);
  font-weight: bold;
}

.footer a {
  cursor: pointer;
  color: rgb(110, 110, 6);
  text-decoration: none;
}

.footer a:hover {
  cursor: pointer;
  color: greenyellow;
}

.logo-img {
  cursor: pointer;
}

#innerQR {
  overflow: auto;
  max-height: 35vh;
}


.table-container {
  max-height: 100vh;
  max-width: 100vw;
  padding: 2rem;
  margin: 2rem;
}